<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1074055378012-iibmanqbj8hcnfkn8sequb5b85q7stj6.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1074055378012-iibmanqbj8hcnfkn8sequb5b85q7stj6</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>1074055378012-p2be4j9jk1djil0au7po4vcuvseha0ma.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyD9xOeWh5k8jYpfBfDG3EpZMVR4kFtrXmo</string>
	<key>GCM_SENDER_ID</key>
	<string>1074055378012</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.Caflyers</string>
	<key>PROJECT_ID</key>
	<string>weekly-flyers</string>
	<key>STORAGE_BUCKET</key>
	<string>weekly-flyers.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1074055378012:ios:018e54c0ecfe8ec6b7a299</string>
	<key>DATABASE_URL</key>
	<string>https://weekly-flyers.firebaseio.com</string>
</dict>
</plist>